<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="ConnectionString" connectionString="Data Source=HOME-PC\\SQLEXPRESS01;Initial Catalog=MusicPlayer;Integrated Security=True;TrustServerCertificate=true"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>
	<applicationSettings>
		<setting name="Username" serializeAs="String">
			<value>John</value>
		</setting>
		<setting name="Password" serializeAs="String">
			<value>MyPassword123</value>
		</setting>
		<setting name="RememberMe" serializeAs="String">
			<value>true</value>
		</setting>
	</applicationSettings>
</configuration>